#body{
    width: 100%;
    font-family: "Timews New Roman", Times, serif;
    white-space: nowrap;
    background: palevioletred;
}
table{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    table-layout:fixed;
}

#secret-link{
    color:black;
    text-decoration: none;
}

tr{
    height: 10em;
}
td{
    width: 10em;
}

.form-range{
    margin: 0.25em auto;
    max-width:40em;
}
.form-label {
    margin: 0.75em auto;
    align-items:center;
    max-width:40em;
    font-size: 1.5em;
    font-weight: bold;
}
/*
<!-- ****  CSS Feature submission **** -->
<!-- score box with borders, backgrounds, and rounding -->
*/
#score-text{
    position:absolute;
    padding: 0.75em;
    font-style: oblique;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: wheat;
    background-color: burlywood;
    border-radius: 0em 0em 1em 0em;
    z-index: 10;
}

#speed-div{
    display:flex;
    flex-flow: column;
}

#settings-div{
    display: flex;
}

/*
<!-- ****  CSS Feature submission **** -->
<!-- ****  CSS Feature submission **** -->
<!-- This is 2 Submissions in the clock classes (.clock, .clock-main, .clock-center, .clock-minute, .clock-hour, and .clock-second) -->
<!-- 1: flexbox formatting with translational adjustments to align clock items -->
<!-- 2: Rotational values, changed by JS to emulate time -->
<!-- This CSS changes the clock class which can be seen in the fullClockCode(rowNum, colNum) function in JS -->
*/

.clock {
    position: relative;
    height: 10em;
    width: 10em;
    background-color: #333;
    border-radius: 50%;
}

.clock-empty {
    position: relative;
    height: 10em;
    width: 10em;
}

.clock-main {
    position:relative;
    height: 9em;
    width: 9em;
    background-color: #bbb;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    transform:translate(5%, 5%);
}

.clock-center{
    position:relative;
    transform:translate(50%,0%);
    height: 0.75em;
    width: 0.75em;
    background-color: #666;
    border-radius: 50%;
    z-index: 3;
}

.clock-minute{
    position:relative;
    top: -2.05em;
    left:-0.4em;
    height:4em;
    width:0.3em;
    background-color: red;
    border-radius: 1em;
    transform-origin: 50% 4em;
}
.clock-hour{
    position:relative;
    top: -1.3em;
    left:-0.1em;
    height:2.5em;
    width:0.2em;
    background-color: blue;
    border-radius: 1em;
    transform-origin: 50% 2.5em;
    z-index: 2;
}
.clock-second{
    position:relative;
    top: -1.7em;
    left: -0.6em;
    height:3.5em;
    width:0.1em;
    background-color: darkslategray;
    border-radius: 1em;
    transform-origin: 50% 3.5em;
    z-index: 1;
}

/*
<!-- ****  CSS Feature submission **** -->
<!-- nth-child and hover formatting -->
*/
.credits:nth-child(odd){
    color: dimgrey;
    font-weight:bold;
}

.credits:hover{
    font-family: "Segoe Script", "Times New Roman", Times, serif;
    font-style: italic;
    color: crimson;
}

#overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 10000;
}

#overlay-content{
    opacity: 1;
    color: white;
    margin: 10em;
    display: flex;
    flex-flow: column;
    align-items: center;
}